# maven ignore
target/
out/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# gradle ignore
out/
.gradle/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
